/* You can add global styles to this file, and also import other style files */
@use "@angular/material" as mat;
@include mat.core();

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

$primary-palette: mat.define-palette(mat.$deep-purple-palette);
$accent-palette: mat.define-palette(mat.$amber-palette);

.primary-colour {
    background-color: mat.get-color-from-palette($primary-palette, 600, 1) !important
}

.accent-colour {
    background-color: mat.get-color-from-palette($accent-palette, 600, 1) !important
}
// $primary: mat-palette($mat-deep-purple);
// $accent:  mat-palette($mat-amber, A200, A100, A400);
